body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f3f3f3;
	margin: 0;
	padding: 20px;
}

.container {
	max-width: 800px;
	margin: auto;
	background-color: #ffffff;
	padding: 30px;
	border-radius: 12px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
	color: #333;
}
.integerCard.error label {
	color: red;
}
.integerCard.error input {
	border-color: red;
}
.message {
	color: red;
	font-weight: bold;
	display: none;
}
.integerCard.error .message {
	display: block;
}
.integerCard,
.functions {
	margin-top: 20px;
}
.integerCard > div:nth-child(2),
.bai9Card > div:nth-child(2) {
	display: flex;
	gap: 20px;
	align-items: center;
	padding-bottom: 10px;
}

input[type="text"],
select {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 6px;
}
select.error {
	opacity: 0.5;
	cursor: not-allowed;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #1976d2;
	color: white;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}
#clearArray,
#clearFloatArray {
	background-color: red;
}

button:hover {
	background-color: #125ea7;
}

.result {
	margin-top: 30px;
	background-color: #f0f8ff;
	padding: 15px;
	border-left: 4px solid #1976d2;
	border-radius: 6px;
}

.hidden {
	display: none;
}
.bai6Card,
.bai9Card {
	display: none;
}
.bai6Card.active,
.bai9Card.active {
	display: block;
}
.submitedArr {
	letter-spacing: 3px;
}
#executeFunction.error {
	opacity: 0.5;
	cursor: not-allowed;
}
